body {
    background-color: lightgrey;
    box-sizing: border-box;
}

#container-quizz {
    margin: auto;
    width: 900px;
    height: 780px;
    background-color: blueviolet;
    border-radius: 25px;
    box-sizing: border-box;
}

#score-container {
    padding-top: 10px;
    background-color: white;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    font-family: 'Nunito';
    color: blueviolet;
}

#image-quizz {
    width: 400px;
    height: 300px;
    border: 10px solid white;
    border-radius: 10px;
    transform: rotate(-7deg);
    margin-top: 100px;
    margin-left: 50px;

}

#question-quizz {
    font-family: 'Playpen Sans';
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}

.reponse-quizz {
    margin-left: 65%;
    margin-top: -40%;
}

.reponse {
    display: block;
    width: 300px;
    padding: 10px 0;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Nunito';
    color: blueviolet;
    cursor: pointer;
}

#nextQuestion {
    display: block;
    margin: 20px auto;
    /* Centre le bouton horizontalement et ajoute un espace en haut et en bas */
    padding: 10px 20px;
    /* Ajoutez un peu de rembourrage pour une meilleure apparence */
    background-color: #4CAF50;
    /* Couleur de fond verte */
    color: white;
    /* Texte en blanc */
    border: none;
    /* Supprime la bordure */
    border-radius: 5px;
    /* Ajoute un peu de bord arrondi */
    cursor: pointer;
    /* Change le curseur au survol */
    font-size: 16px;
    /* Taille du texte */
}

#nextQuestion:hover {
    background-color: #45a049;
    /* Change la couleur de fond au survol */
}

/* Ajoutez ces styles pour le modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    text-align: center;
}

/* Style pour le fond assombri derrière le modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

@media only screen and (max-width: 425px) {
    /* Modifier la disposition pour les petits écrans */

    #container-quizz {
        box-sizing: border-box;
        width: 85%;
        /* Réduire la largeur du conteneur */
        height: auto;
        /* Ajuster la hauteur automatiquement */
    }

    #image-quizz {
        width: 100%;
        max-width: 200px;
        height: auto;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    #question-quizz {
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
    }

    .reponse-quizz {
        display: flex;
        /* Utiliser un conteneur flex pour les réponses */
        flex-direction: column;
        /* Mettre les réponses en colonne sur les petits écrans */
        align-items: center;
        /* Centrer les réponses horizontalement */
    }

    .reponse {
        margin-bottom: 10px;
        margin-right: 0;
        max-width: 100px;
        /* Définir une largeur maximale pour les réponses */
        text-align: center;
        padding: 10px;
    }
}

